/* reset */

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
}

/* main */

html, body {
	background-color: $bg;
	color: $txt;
	font-family: Avenir,Helvetica,Arial,sans-serif;
}

/* custom utilities */

.max-1280 {
	max-width: 1280px;
}